@model List<StudentModel>

@{
    ViewData["Title"] = "Student Details";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>





@foreach (var student in Model)
{
    
    
    
    
         <li>@student.FirstName @student.LastName @student.Grades</li>
  
}

